.title {
    &.is-1 {
        & + .subtitle {
            margin-top: -0.5rem;
        }
    }
}

.bottom-p-spacing {
    margin-bottom: 1rem;
}

.toolbar {
    & > :not(:last-child) {
        margin-right: 1rem;
    }
}
