body {
    min-height: calc(100vh + 300px); // for reading comfort
}

.section {
    &.is-condensed {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
}

.toc-items {
    columns: 2;
}

.title {
    &.is-1 {
        & + .subtitle {
            margin-top: -0.5rem;
        }
    }
}

.bottom-p-spacing {
    margin-bottom: 1rem;
}

.toolbar {
    & > :not(:last-child) {
        margin-right: 1rem;
    }
}
